<div class="Header d-flex align-items-center justify-content-between pe-4">
    <img src="../../assets/Logo.png" alt="">
  <div class="d-flex align-items-center" routerLink="/profilSetting">
    <fa-icon class="text-light me-2" [icon]="faUser"></fa-icon>
    <p class="fs-4 m-0 text-white">UserName</p>
  </div>
</div>

<ion-content>
  <div class="Content">
    <div class="UserDetails ">
      <div class="d-flex justify-content-center">
        <div class="Image">
          <img src="../../assets/profile.png" alt="">
        </div>
        <button class="btn d-flex align-items-center">
          <fa-icon class="me-2 fs-4" [icon]="faPen"></fa-icon>
          Edit Profile
        </button>
      </div>
      <div class="mt-2">
        <p class="fs-3 mb-0">First Name</p>
        <p class="fs-6">Test 1</p>
        <p class="fs-3 mb-0">Last Name</p>
        <p class="fs-6">Test 1</p>
        <p class="fs-3 mb-0">Birth date</p>
        <p class="fs-6">Test 1</p>
        <p class="fs-3 mb-0">Email</p>
        <p class="fs-6">test1@gmail.com</p>
        <p class="fs-3 mb-0">Phone Number</p>
        <p class="fs-6">2947477</p>
      </div>
      <p class="m-0 mt-5 fs-4 Joined">Joined on date</p>
    </div>
  </div>
</ion-content>
