.Header{
  input{
    background: none !important;
    border:none !important;
    box-shadow: 10px 10px 19px 1px rgba(0, 0, 0, 0.38);
    border-radius:20px !important;
    color: #fff !important;
    font-size: 20px;
  }
  ::placeholder {
    color: #fff !important;
    font-size: 20px;
    position: relative;
  }
  .form-control{
    padding: 10px !important;
  }
}
.Content{

.Custom_card{
  background-color: #fff !important;
}
  .MessageImage{
    height: 70px;
    width: 70px;
    overflow: hidden;
    border-radius: 50%;
  }
  p{
    color: #999999;
    margin: 0 !important;
  }
}
