/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "bootstrap";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
}
fa-icon{
  font-size: 22px;
}
.Header{
  background: #546A7B !important;
  padding: 25px 20px;
}
ion-content{
  --background:#F1F6F8 ;
}
.Content{
  background-color: #F1F6F8;
  padding: 15px;
  height: 100% !important;
}
.Custom_card{
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-bottom: 15px;
  box-shadow: 0 12px 15px -7px rgb(0 0 0 / 7%);
  padding: 15px !important;
  border-radius: 20px !important;

}

