<div class="Header d-flex align-items-center justify-content-between pe-4">
  <div>
    <img src="../../assets/Logo.png" alt="">
  </div>
  <fa-icon class="text-light" [icon]="faUser" routerLink="/tabs/profil"></fa-icon>
</div>
<ion-content>
  <div class="Content">
    <h2 class="text-center mt-3">Welcom User</h2>
    <h2 class="mt-4 mb-3">Top Rated</h2>
    <div class="Top_rated p-3 py-0" >
      <div  class="d-flex mt-3 align-items-center mb-4 Custom_card " *ngFor="let user of topUsers" (click)='details(user.id)'>
        <div class="MessageImage ">
          <img class="Image" [src]="user.img" alt="">
        </div>
        <div class="ms-3 d-flex flex-row align-items-center justify-content-between" style="width: 76%;">
          <div class=" ">
            <h4 class="fw-bold">{{user.firstName}} {{user.lastName}}</h4>
            <ionic-rating-component
            activeColor="#ffc409"
            readonly="true"
            [rating]="user.feedBack"
            fontSize = "22px"
            >
          </ionic-rating-component>
        </div>
        <div class="Category badge bg-dark p-2 d-flex align-items-center">
          <fa-icon class="text-light fs-6 me-1" [icon]="faTag"></fa-icon>
          {{user.category}}
        </div>
      </div>
    </div>
  </div>
  <h2 class="mt-4 mb-3">Explore Categories</h2>
  <div class="Categories d-flex p-2 justify-content-between">
    <div *ngFor="let tag of categories">
    <div class="MessageImage" >
      <img class="Image" [src]="tag.icon" alt="">
    </div>
    <p class="text-center m-0">{{tag.category}}</p>
    </div>
  </div>
</div>
</ion-content>
